*.gem
*.rbc

# Ignore bundler config
/bin
/.bundle
/.vagrant
/.vagrantfile
/cache
/coverage/*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/logfile
log/

# Vim temp files
*~
*.swp
*.swo

# Project files
/src

# Scripts used to set Env
set_env.*
update.ps1
